{% extends "global_layout.html" %}

{% block bodytag %}
<body class="full-bg">
{% endblock %}


{% block body -%}
<div class="d-flex full-screen">
  <div class="align-self-center col-sm-6 centered">
  {%- if status -%}
      <div class="alert alert-success alert-dropshadow" role="alert">
        <h4 class="alert-heading">Hey I'm Alive!</h4>
        <p>You found out this machine is still awake. This is good! Because,
        if it was offline that would mean its broken.</p>
        <hr>
      </div>
  {%- else -%}
      <div class="alert alert-danger alert-dropshadow" role="alert">
        <h4 class="alert-heading">I'm dead!</h4>
        <p>I've been dead since: {{timestamp}}. I hope someone revives me!</p>
        <hr>
      </div>
  {%- endif -%}
  </div>
</div>

{%- endblock %}
