<!doctype html>
<html>
  <head>
    {% block head -%}
    <title>{% block title %}{% endblock %} - My Webpage</title>


    {%- block css -%}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
    {%- endblock -%}


    {%- endblock %}
  </head>
  {% block bodytag %}
  <body>
  {% endblock %}
  {% block body -%}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer -%}
      &copy; Copyright 2017 by <a href="http://domain.invalid/">you</a>.
      {%- endblock %}
    </div>

  {%- endblock %}

  {%- block javascript -%}
  {%- endblock %}
  </body>
</html>