.full-bg {
    height:100vh;
    margin: 0px;
    background-color:#4e4e4e;
}

.full-screen{
    height:100vh;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.alert-dropshadow{
    box-shadow: 8px 5px 16px #c7b4b4;
    border: 3px #bdbcbc solid;
}

